body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  background-image: linear-gradient(#cacaca, #a9f3c2);
}

.fixed {
  position: fixed;
  padding: 10px;
  margin: 0;
  top: 0;
  left: 0;
  background-color: rgba(202, 202, 202, 0.67);
  z-index: 99999;
}

.logo {
  max-height: 5%;
  max-width: 5%;
  float: left;
}

.site-name {
  float: left;
  margin-left: 0.3em;
}

.page-name {
  float: right;
  clear: right;
}

#content {
  clear: both;
  margin-left: 1em;
}

.half-right-container {
  width: 50%;
  margin-left: auto;
}

.quote-container {
  font-size: 5mm;
}

.quote-container > blockquote {
  margin: 0;
}

.underlined {
  text-decoration: underline;
}

#first-sentence {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: rgb(51, 51, 51);
}

#footer {
  color: gray;
}

.table-left-cols {
  background-color: bisque;
}

.table-right-cols {
  background-color: lightskyblue;
}

img {
  border-radius: 15px;
}

img:hover {
  opacity: 0.5;
}

img.transformable:hover {
  transform: scaleX(-1);
}

img.blurred {
  filter: blur(3px);
}

a:link {
  color: gray;
}

a:visited {
  color: red;
}

td:hover {
  background-color: grey;
  color: yellow;
}

#stages {
  padding-left: 0;
}

ol {
  list-style-type: none;
}

/* ol {
  list-style: none;
  counter-reset: li;
}

ol > li:before {
  counter-increment: li; 
  content: counters(li,".") ". ";
} */

#subheader > h3:first-letter {
  color: white;
  background-color: black;
  border-radius: 2px;
  box-shadow: 3px 3px 0 red;
  font-size: 250%;
  padding: 6px 3px;
  margin-right: 6px;
  float: left;
}